.navbar {
    background: rgb(91,91,91);
    background: linear-gradient(180deg, rgba(91,91,91,1) 0%, rgba(79,79,79,1) 38%, rgba(70,70,70,1) 70%, rgba(61,61,61,1) 100%);
    width: 13%;
    height: 100vh;
    color: black; 
    position: fixed;
    top: 0;
    left: 0;
    margin: 0; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 150px;
}

span {
    width: 60%;
}

.title {
    width: 90%;
    background-color: #444444;
    height: 60px;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    flex-shrink: 0;
}

.navContainer {
    margin-top: 10%;
    flex-grow: 1; 
}

.navItem {
    height: 50px;
    width: 100%;
    font-size: 1.6rem;
    margin: auto;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1000px;
    overflow: hidden;
}
.navItem img, .navItem span {
    margin-right: 10px; 
}

.footerItem{
    height: 50px;
    width: 100%;
    font-size: 1.6rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 5px;
}

.navItem:hover, .footerItem:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #686868;
}

.logo {
    height: 20px;
    margin-right: 20px;
}

.navFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-bottom: 35px;
}
