.card-container{
    height: 675px;
    width: 80%;
    margin: 350px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:#EDE0A4;

}

.card{
    height: 90%;
    width: 28%;
    background-color: #2c2c2c;
    border: 3px solid #EDE0A4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.44);
}

.card-title{
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
    height: 50px;
    color:#a3a3a3;
    font-weight: 700;
}

.card-icon{
    height: 100px;
    width: 100px;
    margin: 20% auto auto auto;
    color:#EDE0A4;
}

.card-icon-import{
    height: 80px;
    width: 100px;
    margin: 20% auto auto auto;
    color:#EDE0A4;
    margin-bottom: 20px;
}

.card-body{
    height: 300px;
    width: 80%;
    margin: auto;
    font-size: 1.6rem;
}