.graph{
    height:300px;
    width:49%;
    position:relative;
    background: #2b2b2b;
    border-radius: 7px;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.44);
    border: 2px solid #EDE0A4;
    min-width: 240px;
}
.graph canvas {
    width: 95% !important;
    height: 100% !important;
    margin: auto;
  }