* {
    color: white;
    font-weight: 100;
}
.tradeList{
    width:49%;
}

table {
    background: #2b2b2b;
    /* background: linear-gradient(308deg, rgba(91,91,91,1) 0%, rgba(79,79,79,1) 38%, rgba(70,70,70,1) 70%, rgba(57,57,57,1) 100%);     */
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    border:2px solid #EDE0A4;
    overflow: hidden;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.44);
    width: 100%;
    min-width: 250px;
}

td, th {
    margin: auto;
    height: 35px;
}

td{
    cursor:pointer;
}
th {
    background-color: #5B5B5B;
    border: none;
    color: white;
}

tbody tr {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

tbody tr:hover {
    background-color: #949494;
    transform: scale(1.02);
}
